.cursor-hover{
    cursor:url("../assets/imgs/butterfly-over.png") 20 20, default;
}
.cursor-hover:active{
    cursor:url("../assets/imgs/butterfly-click.png") 20 20, default;
}
.cursor{
    cursor:url("../assets/imgs/butterfly-mouse.png") 20 20, default;
}
.cursor:active{
    cursor:url("../assets/imgs/butterfly-click.png") 20 20, default;
}
.hover-element:hover{
    border: 4px solid white;
    border-radius:12px;
}
.hover-knob{
    transition: .5s all ease-in-out
}
.hover-knob:hover{
    background-color: white;
    opacity: 60%;
    border-radius:30vh; 
}
.test {
    background-color: purple;
}
.close-text:hover{
    border-radius: 4vh;
    background-color: #7fa0f4;
}
.xBox:hover {
    background-color: black;
    border-color: pink;
}
.halle-hover {
    transition: background-color .4s ease-in-out;
    border-radius: 20vh;
}
.halle-hover:hover{
    background-color: #7fa0f4;
}
@font-face {
    font-family: 'Grand_Aventure';
    src: local('Grand_Aventure'), url("../assets/fonts/Grand_Aventure.otf") format('opentype');
  }
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url("../assets/fonts/Helvetica.ttf") format('truetype');
}
@font-face {
    font-family: 'Typewriter';
    src: local('Typewriter'), url("../assets/fonts/Typewriter.otf") format('opentype');
}
@font-face {
    font-family: 'Bohemian';
    src: local('Bohemian'), url("../assets/fonts/bohemian.otf") format('opentype');
}