.top-bar
{
    position: 'absolute';
    width: '5vw';
}
.squirrel:hover{
    transform:rotateZ(720deg)
}
.icon{
    border-radius: 6vh;
    transition: 1s all ease-in-out
}
.mush-icon {
    border-radius: 6vh;
    transition: 1s all ease-in-out
}
.mush-icon-grow:hover{
    transform: scale(1.2)

}
.icon:hover {
    background-color: rgb(255,255,255,0.5);;
}
.icon-dance:hover{
    transform:rotateZ(30deg);
}
.icon-rotate{
    transition: 3s all ease-in-out;
}
.icon-rotate:hover{
    transform:rotateZ(360deg);
}

.icon-grow:hover{
    transform: scale(1.2)
}
.icon-change:hover{
    filter: invert(100%);
}
.select:hover{
    box-sizing: border-box;
    background-color: #7fa0f4;
}
.backButton {
    border-radius: 3vh;
    transition: .2s all linear;
}
.backButton:hover{
    background-color:#7fa0f4;
}
.chosen {
    color: red;
}
.regular {
    color: #ffc40c;
}