@font-face {
    font-family: 'Grand_Aventure';
    src: local('Grand_Aventure'), url("../assets/fonts/Grand_Aventure.otf") format('opentype');
  }
@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'), url("../assets/fonts/Helvetica.ttf") format('truetype');
}


  .img-overlay-wrap svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  .image:hover {
    border-color: #7FA0F4;
  }
  .frame{
    border: .6vh dotted #ffe183;
    transition: 1s all ease-in-out;
  }
  .image{
    border: .6vh dotted #ffc40c;
    transition: all 1s ease-in-out;
  }
  .frame:hover{
    border-color:aliceblue;
  }
  .x-box:hover{
    background-color: red;
  }